In [24]:
import mysql.connector as connector
connection = connector.connect(user="", password="", db = "littlelemondb")
cursor = connection.cursor()

In [25]:
show_tables_query = """SHOW tables;"""
cursor.execute(show_tables_query)
tables_result = cursor.fetchall()
print(tables_result)

[('bookings',), ('customerinfo',), ('employeeinfo',), ('menuitems',), ('menus',), ('orders',), ('orderstatus',), ('ordersview',)]

In [26]:
join_query = """
SELECT
CONCAT(CI.FirstName, " ", CI.LastName) AS FullName,
CI.CustomerPhone,
CI.CustomerEmail,
O.BillAmount

FROM customerinfo AS CI
INNER JOIN bookings AS B ON CI.CustomerID = B.CustomerID
INNER JOIN orders AS O ON B.BookingID = O.BookingID

WHERE O.BillAmount > 60
;"""

In [27]:
cursor.execute(join_query)

In [28]:
query_result = cursor.fetchall()

In [29]:
print(cursor.column_names)
for item in query_result:
    print(item)

('FullName', 'CustomerPhone', 'CustomerEmail', 'BillAmount')
('Joseph Contreras', 1508, 'wlong@example.org', Decimal('77.85'))
('Betty Miranda', 4738, 'wgarcia@example.org', Decimal('80.80'))
('Tracie Wilkerson', 319, 'trevorthompson@example.net', Decimal('125.25'))